<section class="category-popular section">
	{% include "../site/section-header.twig" with {
		title : "Популярные места",
	} only %}

	<a href="mobile.html" class="category-popular__box">
		<div class="category-popular__main">
			<div class="category-popular__meta">
				Море впечатлений!
			</DIV>
			<div class="category-popular__title">
				Подборка для компании
			</div>
		</div>
	</a>
</section>

