<div class="section">
	<a href="mobile.html" class="category-route">
		<div class="category-route__meta">
			Свой маршрут
		</div>

		<div class="category-route__title">
			Подбор маршрута по вашим запросам
		</div>

		<div class="category-route__image">
			<img src="images/route/image.svg" width="108" height="112" loading="lazy" alt="">
		</div>
	</a>
</div>
