<div class="article__desc">
	<h2 class="article__title">
		О событии
	</h2>

	<p>
		Письменность — это «мостик» между людьми разных эпох и культур, диалог друг с другом и общение с самим собой. На обзорной экскурсии по Музею «Слово» вы пройдете многовековой путь вместе с русским алфавитом и узнаете, что на самом деле изобрели Кирилл и Мефодий.<br>
		Вы окажетесь в монастырской келье и первой русской типографии, сядете за парты в земской школе, расшифруете граффити в древнем храме, а также познакомитесь с «смсками» древних новгородцев. Вы сможете рассмотреть древнейшие литературные произведения страны и полистать дневники прошлого века — от записок петроградской курсистки до детских воспоминаний о событиях августа 1991-го года. История текстов неразрывно связана с развитием буквы: вас ждут интерактивные экспонаты и таймлайны, посвященные шрифтовому дизайну и шедеврам каллиграфии.
	</p>
	<p>
		Экскурсия предназначена для людей с нарушением слуха и проходит в сопровождении переводчика жестового языка.
	</p>
	<p>
		ВАЖНО: за день до мероприятия участники, которые зарегистрировались на экскурсию, должны отправить подтверждающее письмо о своём приходе на электронный адрес Музея "Слово" - slovo@vdnh.ru
	</p>
	<p>
		Без получения подтверждения посещения экскурсии она может быть отменена, если не соберётся группа (не менее 2 человек).
	</p>
</div>
