<div class="article-place">
	<h2 class="article__title">
		Где проходит
	</h2>
	<div class="article-place__label">
		Адрес:
	</div>
	<div class="article-place__grid">
		<div class="article-place__main">
			Павильон №58. Музей славянской письменности «Слово»
		</div>
		<div class="article-place__distance">
			800 м
		</div>
	</div>
	<div class="article-maps">
		<div class="article-maps__inner"></div>
	</div>
	<div class="article-place__button">
		<a href="mobile.html" class="b-btn b-btn--red b-btn--full-size">
			Маршрут
		</a>

		<a href="mobile.html" class="b-btn b-btn--grey-outline b-btn--full-size">
			Арендовать
		</a>
	</div>
</div>
