<div class="map-header">
	<div class="wrapper map-header__wrapper">
		<div class="map-header__input">
			<input type="text" inputmode="search" aria-label="Поиск на карте" placeholder="Что вы хотите посмотреть">
			<a href="mobile.html" class="map-header__logo">
				<img src="images/logo-min.svg" width="31" height="31" loading="eager" alt="ВДНХ">
			</a>
		</div>
		<a href="catalog-main.html" class="map-header__button">
			<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3.06055 14.9385H11.4279" stroke="#202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
				<path d="M3.06055 9.91797H8.91769" stroke="#202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
				<path d="M2.85156 5.31543H16.6577" stroke="#202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
	</div>
</div>
