.category-filter {
	display                    : flex;
	overflow-x                 : auto;
	align-items                : flex-start;
	flex-flow                  : row nowrap;
	justify-content            : flex-start;
	margin                     : 0 -14px 23px;
	padding                    : 0 14px 10px;
	list-style                 : none;
	-webkit-overflow-scrolling : touch;
	overscroll-behavior        : contain;

	.overflowscrolling & {
		overflow-x : scroll;
	}

	&:after {
		content : '';
		width   : 14px;
		height  : auto;
	}

	@media screen and (min-width : 365px) {
		margin  : 0 -24px 23px;
		padding : 0 24px 10px;
		&:after {
			width : 24px;
		}
	}
}

.category-filter__item {
	font-size                   : 16px;
	font-weight                 : 600;
	line-height                 : 125%;
	flex                        : 0 0 auto;
	box-sizing                  : border-box;
	margin-right                : 10px;
	padding                     : 8px 12px;
	cursor                      : pointer;
	transition                  : color .3s ease, background-color .3s ease;
	letter-spacing              : -0.02em;
	color                       : $color-white-80;
	border                      : 0;
	border-radius               : 20px;
	outline                     : 0;
	background                  : transparent;
	-webkit-tap-highlight-color : transparent;

	&:hover {
		color : $color-white-100;
	}

	&--active {
		color            : $color-black-100;
		background-color : $color-white-100;

		&:hover {
			color : $color-black-100;
		}
	}
}
