.category-popular {

}

.category-popular__list {

}

.category-popular__box {
	position        : relative;
	display         : block;
	overflow        : hidden;
	padding         : 326px 20px 20px;
	transition      : background-color .3s ease;
	text-decoration : none;
	color           : $color-white-100;
	border-radius   : 12px;
	background      : $color-main-green url("../images/popular/background.webp") no-repeat 50% -210px;
	background-size : 679px 513px;

	.no-webp & {
		background-image : url("../images/popular/background.png");
	}

	@include image-2x {
		background-image : url("../images/popular/background@2x.webp");

		.no-webp & {
			background-image : url("../images/popular/background@2x.png");
		}
	}

	&:hover {
		color            : $color-white-100;
		background-color : $color-main-green-100;
	}
}

.category-popular__meta {
	font-size      : 13px;
	font-weight    : 600;
	line-height    : 130%;
	display        : block;
	margin-bottom  : 8px;
	letter-spacing : 0.002em;
}

.category-popular__title {
	font-size      : 22px;
	font-weight    : 700;
	line-height    : 130%;
	letter-spacing : 0.002em;
}
