.article-gallery {
	position : relative;
	margin   : 0 -14px 30px;
	@media screen and (min-width : 365px) {
		margin : 0 -24px 30px;
	}

	.swiper {
		overflow      : hidden;
		border-radius : 0 0 25px 25px;
	}

	.swiper-slide {
		position : relative;
		width    : 100%;

		&:after {
			content       : '';
			position      : absolute;
			z-index       : 5;
			top           : 0;
			right         : 0;
			bottom        : 0;
			left          : 0;
			display       : block;
			border-radius : 0 0 25px 25px;
			background    : linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
		}
	}

	.swiper-pagination {
		z-index   : 7;
		bottom    : 22px;
		left      : 50%;
		transform : translateX(-50%);
	}
}

.article-gallery__image {
	img {
		display    : block;
		width      : 100%;
		height     : 575px;
		object-fit : cover;
	}

	picture {
		display : block;
	}
}

.article-gallery__back {
	@extend .page-header__back;
	position : absolute;
	z-index  : 20;
	top      : 15px;
	left     : 15px;
	@media screen and (min-width : 375px) {
		left : 25px;
	}
}

.article-gallery__title {
	font-size   : 24px;
	font-weight : 700;
	font-style  : normal;
	line-height : 130%;
	position    : absolute;
	z-index     : 10;
	right       : 16px;
	bottom      : 58px;
	left        : 16px;
	text-align  : center;
	color       : $color-white-100;
	@media screen and (min-width : 375px) {
		right : 44px;
		left  : 44px;
	}
}
